Django==5.1.4
cryptography==44.0.0
django-csp==3.8
django-crispy-forms==2.3
crispy-bootstrap4==2024.10
django-ratelimit==4.1.0
django-storages[azure]==1.14.4
python-dotenv==1.2.4
twilio==9.4.1
gunicorn==23.0.0
